<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My ASP.NET Core Application</title>
    <link rel="stylesheet" href="~/css/global.css" />
</head>

<body>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Core Application</p>
    </footer>
</body>

</html>

</html>